{# templates/zoom-video-formatter-template.html.twig #}

<div class="zoom-meeting">
  <div id="meetingSDKElement">
    <!-- Zoom Meeting SDK Rendered Here -->
  </div>

  {% if user.isAnonymous %}
    <input type="text" id="username" name="username"
           placeholder="Enter your name" required>
    <input type="email" id="email" name="email" placeholder="Enter your email"
           required>
  {% endif %}

  <button class="join-meeting"
          data-meeting-number="{{ meetingNumber }}"
          data-meeting-password="{{ meetingPassword }}"
          disabled>
    Join Meeting
  </button>
</div>
